.about-me {
  display: flex;
  flex-direction: row;

  padding: 0 20px;
  margin-bottom: 30px;
}

.bio-text {
  font-family: 'Montserrat-Regular';
  font-size: 18px;
  color: #838383;

  flex: 3;
}

.self-image {
  flex: 1;
  object-fit: cover;
  width: 45%;
  margin: 0 10px;
  cursor: pointer;
}

.bio-link {
  color: #F2E5D7;
  text-decoration: underline;
} 

@media only screen and (max-width: 900px) {
  .about-me {
    flex-direction: column-reverse;
    margin-bottom: 12px;
  }

  .self-image {
    margin: 0 auto;
  }
}
