.about-me {
  display: flex;
  flex-direction: row;

  padding: 0 20px;
  /* margin-bottom: 20px; */
}

.bio-text {
  font-family: 'Montserrat-Regular';
  font-size: 18px;
  color: #838383;

  flex: 3;
}

.self-image {
  flex: 1;
}

.bio-link {
  color: #F2E5D7;
  text-decoration: underline;
} 

