.home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 0 15%;
}

.text {
  margin: 0;
  padding: 0;
}

.header {
  color: #F2E5D7;
  margin-top: 125px;
}

#intro {
  font-family: 'Montserrat-SemiBold';
  font-size: 2.5em;
}

#pitch {
  font-family: 'Montserrat-Light';
  font-size: 1.35em;
}

.nav {
  width: 20%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 2;
}

.sub-nav {
  position: fixed;
  width: 18%;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.connect {
  margin-top: 30%;
}

.icon:nth-child(1) {
  margin: 0;
}

.icon {
  margin: 0 0 0 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
}

.content {
  margin-top: 125px;
  flex: 4;
}

@media only screen and (max-width: 1200px) {
  .home {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 900px) {
  .home {
    flex-direction: column;
  }

  .nav {
    width: 100%;
  }

  .nav-links {
    justify-content: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  .sub-nav {
    position: relative;
    width: 100%;
  }
  
  .connect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
  }
}
